<footer>
<div id="footer">
    <ul class="footer-content">
        {% from '_includes/_defaults.html' import SITESUBTITLE with context %}
        {% if SITESUBTITLE %}
        <li class="elegant-subtitle"><span class="site-name">{{ SITENAME }}</span> - {{ SITESUBTITLE }}</li>
        {% endif %}
        {% from '_includes/_defaults.html' import SITE_LICENSE with context %}
        {% if SITE_LICENSE %}
        <li class="elegant-license">{{ SITE_LICENSE }}</li>
        {% endif %}
	<li class="elegant-power">Создано с помощью <a href="http://getpelican.com/" title="Pelican Home Page">Pelican</a>. Тема <a href="http://oncrashreboot.com/pelican-elegant" title="Theme Elegant Home Page">Elegant</a> от <a href="http://oncrashreboot.com" title="Talha Mansoor Home Page">Talha Mansoor</a>. Перевод темы <a href="https://github.com/nezloi/pelican-elegant" title="pelican elegant по-русски">Дмитрий Леонов</li>
    </ul>
</div>
</footer>
