{% extends 'base.html' %}

{% block title %}
Страница не найдена · {{ super() }}
{% endblock title %}

{% block head_description %}
Страница на сайте {{ SITENAME|striptags }} не существует. 
{% endblock head_description %}
{% block content %}
<div class="row-fluid">
    <header class="page-header span10 offset2">
    <h1>Такой страницы не существует!</h1>
    </header>
</div>


<div class="row-fluid">
    <div class="span8 offset2">
        <p>К сожалению страница, которую вы ищите не найдена. Я думаю, что страница, которую вы пытались найти, не создана или была перемещена, или удалена.</p>
        <p>Пожалуйста воспользуйтесь поиском или начните сначала с <a href="{{ SITEURL }}">домашней страницы</a>.</p>
        <div class="input-append">
            <form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value)">
		    <input type="text" class="span12" placeholder="Поиск" name="q" id="tipue_search_input_404">
                <button class="btn" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
